{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Create Person</h4>
            </div>
            <div class="card-body">
                <form action="{{ url_for('person_create') }}" method="post">
                    {{ form.csrf_token }}
                    {% if form.errors %}
                       {% for field in form %}
                          {% for error in field.errors %}
                              The data entered in the field {{ field.label }} {{ error|escape }}
                          {% endfor %}
                       {% endfor %}
                    {% endif %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">First Name</label>
                                {% if person and option == 'get' %}
                                    <input name="first_name" type="text" value="{{ person.first_name }}"
                                           class="form-control" disabled>
                                {% elif person and option == 'put' %}
                                    <input name="first_name" type="text" value="{{ person.first_name }}"
                                           class="form-control" >
                                {% else %}
                                    <input name="first_name" type="text" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Last Name</label>
                                {% if person and option == 'get' %}
                                    <input name="last_name" type="text" value="{{ person.last_name }}"
                                           class="form-control" disabled>
                                {% elif person and option == 'put' %}
                                    <input name="last_name" type="text" value="{{ person.last_name }}"
                                           class="form-control">
                                {% else %}
                                    <input name="last_name" type="text" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Phone</label>
                                {% if person and option == 'get' %}
                                    <input name="phone" type="text" value="{{ person.phone }}"
                                           class="form-control" disabled>
                                {% elif person and option == 'put' %}
                                    <input name="phone" type="text" value="{{ person.phone }}"
                                           class="form-control">
                                {% else %}
                                    <input name="phone" type="text" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Email</label>
                                {% if person and option == 'get' %}
                                    <input name="email" type="email" value="{{ person.email }}"
                                           class="form-control" disabled>
                                {% elif person and option == 'put' %}
                                    <input name="email" type="email" value="{{ person.email }}"
                                           class="form-control">
                                {% else %}
                                    <input name="email" type="email" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="bmd-label-floating">Address</label>
                                {% if person and option == 'get' %}
                                    <input name="address" type="text" value="{{ person.address }}"
                                           class="form-control" disabled>
                                {% elif person and option == 'put' %}
                                    <input name="address" type="text" value="{{ person.address }}"
                                           class="form-control">
                                {% else %}
                                    <input name="address" type="text" class="form-control">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if person and option == 'get' %}
                        <a type="submit" href="{{ url_for('person_update', pk=person.id) }}"
                            class="btn btn-primary pull-right">Edit</a>
                    {% else %}
                        <button type="submit" class="btn btn-primary pull-right">Save</button>
                    {% endif %}
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}