{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Create Person</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">First Name</label>
                            <input name="first_name" type="text" value="{{ object.first_name }}"
                                   class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Last Name</label>
                            <input name="last_name" type="text" value="{{ object.last_name }}"
                                   class="form-control" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Phone</label>
                            <input name="phone" type="text" value="{{ object.phone }}"
                                   class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Email</label>
                            <input name="email" type="email" value="{{ object.email }}"
                                   class="form-control" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="bmd-label-floating">Address</label>
                            <input name="address" type="text" value="{{ object.address }}"
                                   class="form-control" disabled>
                        </div>
                    </div>
                </div>
                <a href="{{ url_for('person_update', pk=object.id) }}" class="btn btn-primary pull-right">Edit</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}