{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">{{title}}</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th>Username</th>
                            <th>Email</th>
                        </thead>
                        <tbody>
                            {% for obj in object_list %}
                            <tr>
                                <td>{{ obj.username }}</td>
                                <td class="text-primary">{{ obj.email }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
                <a href="{{ url_for('user_create') }}" class="btn btn-success pull-right">New User</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}