{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">{{title}}</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Email</th>
                          <th>Phone</th>
                          <th>Address</th>
                          <th>Detail</th>
                        </thead>
                        <tbody>
                            {% for person in persons %}
                            <tr>
                                <td>{{ person.first_name }}</td>
                                <td>{{ person.last_name }}</td>
                                <td class="text-primary">{{ person.email }}</td>
                                <td>{{ person.phone }}</td>
                                <td>{{ person.address }}</td>
                                <td>
                                    <a href="{{ url_for('person_detail', pk=person.id) }}"
                                       class="btn btn-warning btn-sm">Detail</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
                <a href="{{ url_for('person_create') }}" class="btn btn-success pull-right">New Person View</a>
                <a href="{{ url_for('create_person_view') }}" class="btn btn-success pull-right">New Person</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}