{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Login</h4>
            </div>
            <div class="card-body">
                <form action="{{ url_for('login') }}" method="post">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="bmd-label-floating">Username</label>
                                <input name="username" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="bmd-label-floating">Password</label>
                                <input name="password" type="password" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                 {{ form.remember_me() }}
                                <label class="bmd-label-floating">{{ form.remember_me.label }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary pull-center">Login</button>
                    </div>
                    <div class="clearfix"></div>
                    <div>¿No tienes cuenta? <a href="{{ url_for('show_signup_form') }}">Regístrate</a></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}